/Gesturing/[Tt]emp/
/Gesturing/[Oo]bj/
/Gesturing/[Ll]ibrary/
/Gesturing/[Bb]uild/
/Gesturing/[Bb]uilds/
/Gesturing/[Ll]ogs/
/Gesturing/Assets/AssetStoreTools*
/Gesturing/.vs/*
/Gesturing/.vs.meta

/Gesturing/Assets/TextMesh*Pro/
/Gesturing/Assets/TextMesh*Pro.meta
/Gesturing/Assets/Oculus/
/Gesturing/Assets/Oculus.meta

/UI/[Tt]emp/
/UI/[Oo]bj/
/UI/[Ll]ibrary/
/UI/[Bb]uild/
/UI/[Bb]uilds/
/UI/[Ll]ogs/
/UI/Assets/AssetStoreTools*
/UI/.vs/*
/UI/.vs.meta

/UI/Assets/Oculus/
/UI/Assets/OVRAvatarSDK/
/UI/Assets/Presets/
/UI/Assets/Resources/
/UI/Assets/Settings/
/UI/Assets/TutorialInfo/
/UI/Assets/Oculus.meta
/UI/Assets/OVRAvatarSDK.meta
/UI/Assets/Presets.meta
/UI/Assets/Resources.meta
/UI/Assets/Settings.meta
/UI/Assets/TutorialInfo.meta


ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pibd.meta

sysinfo.txt
.DS_Store
._*
