/Gesturing/ContinuousGesturing/[Tt]emp/
/Gesturing/ContinuousGesturing/[Oo]bj/
/Gesturing/ContinuousGesturing/Assets/AssetStoreTools*
/Gesturing/ContinuousGesturing/.vs/*
/Gesturing/ContinuousGesturing/.vs.meta

/Gesturing/DiscreteGesturing/[Tt]emp/
/Gesturing/DiscreteGesturing/[Oo]bj/
/Gesturing/DiscreteGesturing/[Ll]ibrary/
/Gesturing/DiscreteGesturing/[Bb]uild/
/Gesturing/DiscreteGesturing/[Bb]uilds/
/Gesturing/DiscreteGesturing/[Ll]ogs/
/Gesturing/DiscreteGesturing/Assets/AssetStoreTools*
/Gesturing/DiscreteGesturing/.vs/*
/Gesturing/DiscreteGesturing/.vs.meta

/UI/Keyboard/[Tt]emp/
/UI/Keyboard/[Oo]bj/
/UI/Keyboard/Assets/AssetStoreTools*
/UI/Keyboard/.vs/*
/UI/Keyboard/.vs.meta

/UI/UI-All-In-One/[Tt]emp/
/UI/UI-All-In-One/[Oo]bj/
/UI/UI-All-In-One/Assets/AssetStoreTools*
/UI/UI-All-In-One/.vs/*
/UI/UI-All-In-One/.vs.meta

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pibd.meta

sysinfo.txt
.DS_Store
._*
